{% extends 'base.html.twig' %}

{% block title %}Hello ActionController!{% endblock %}

{% block body %}

 
        <div class="box">
          <div class="img-box">
            <img src="{{ asset('../../build/images/event-img.d6e6b9f2.jpg') }}" alt=""alt="" />
          </div>
          
          <div class="detail-box">
            <h4>
                 {{action.title}}
            </h4>
              
            <a class="nav-link" href="{{path('action')}}">  Details de l´action</a>
              

            <h6>
              {{action.updtatedAt|date("m/d/Y")}} VENICE, ITALY
            </h6>
          </div>
          <div class="date-box">
            <h3>
              <span>
                15
              </span>
              March
            </h3>
          </div>
          
        </div>


      
      
    
   {% endblock %}

